body.w-small {
	min-width: 980px
}

body.w-large {
	min-width: 1180px
}

.layout {
	margin: 0 auto
}

body.w-small .layout,.layout {
	width: 980px
}

body.w-large .layout {
	width: 1180px
}

@media screen and (max-width:1280px) {
	body.w-var .layout {
		width: 980px
	}
}

@media screen and (min-width:1280px) {
	body.w-var .layout {
		width: 1180px
	}
}

@font-face {
	font-family:zuoyeFont_mathFont;src:url(https://yy-s.zuoyebang.cc/static/question/base/resource/mathFont_45cb6c2.eot?#iefix);src:url(https://yy-s.zuoyebang.cc/static/question/base/resource/mathFont_45cb6c2.eot?#iefix) format('embedded-opentype'),url(https://yy-s.zuoyebang.cc/static/question/base/resource/mathFont_84f42a9.woff2) format('woff2'),url(https://yy-s.zuoyebang.cc/static/question/base/resource/mathFont_b78f80a.woff) format('woff'),url(https://yy-s.zuoyebang.cc/static/question/base/resource/mathFont_f30c886.ttf) format('truetype'),url(https://yy-s.zuoyebang.cc/static/question/base/resource/mathFont_7554296.otf) format('opentype'),url(https://yy-s.zuoyebang.cc/static/question/base/resource/mathFont_606a261.svg) format('svg');font-weight:400;font-style:normal
}

.mathFont {
	font-family: zuoyeFont_mathFont;
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family:zuoyeFont_qbIcons;src:url(https://yy-s.zuoyebang.cc/static/question/question/resource/font/qbIcons_4af58ee.eot?#iefix);src:url(https://yy-s.zuoyebang.cc/static/question/question/resource/font/qbIcons_4af58ee.eot?#iefix) format('embedded-opentype'),url(https://yy-s.zuoyebang.cc/static/question/question/resource/font/qbIcons_dc052bb.woff2) format('woff2'),url(https://yy-s.zuoyebang.cc/static/question/question/resource/font/qbIcons_f57f1a2.woff) format('woff'),url(resource/font/qbIcons.ttf) format('truetype'),url(https://yy-s.zuoyebang.cc/static/question/question/resource/font/qbIcons_b7c5c1a.otf) format('opentype'),url(https://yy-s.zuoyebang.cc/static/question/question/resource/font/qbIcons_9d231f8.svg) format('svg');font-weight:400;font-style:normal
}

.qb-icons {
	font-family: zuoyeFont_qbIcons;
	font-weight: 400;
	font-style: normal
}

.qb-icons_person {
	*zoom: expression(this.runtimeStyle["zoom"] = "1",this.innerHTML += "&#xe600;")
}

.qb-icons_person:before {
	content: '\e600'
}

.qb-icons_clock {
	*zoom: expression(this.runtimeStyle["zoom"] = "1",this.innerHTML += "&#xe601;")
}

.qb-icons_clock:before {
	content: '\e601'
}

html,body {
	min-height: 100%
}

.question-view .searchbar .layout {
	position: relative
}

.question-view {
	background: #EDF0F2
}

.question-view .wgt_login-pop-up {
	border-radius: 5px;
	border: 0
}

.question-view .wgt_login-pop-up>dt {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}

.question-view .qb-icons {
	margin-right: 3px;
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	*zoom: 1;
	*display: inline
}

.question-view .qb-icons_clock {
	margin-top: .5px
}

.question-view .searchbar .wgt-userMsg {
	position: absolute;
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	font-size: 14px;
	top: 0;
	right: 10px;
	line-height: 61px
}

.question-view .searchbar .wgt-userMsg:not(.not-login):hover {
	background: #FFF
}

.question-view .searchbar .wgt-userMsg a {
	text-decoration: none;
	color: #333
}

.question-view .searchbar .wgt-userMsg .username {
	line-height: 61px
}

.question-view .searchbar .wgt-userMsg .separator {
	height: 12px;
	border-color: #333;
	vertical-align: middle
}

.question-view .searchbar .wgt-userMsg .operation {
	font-size: 12px;
	background: #FFF;
	padding-bottom: 8px
}

.question-view .searchbar .wgt-userMsg .operation>a {
	padding: 10px 0
}

.question-view .searchbar .wgt-userMsg .operation>a:hover {
	background: #F1F1F1
}

.question-view .main-body {
	margin-top: 20px;
	position: relative
}

.question-view .main-body .cpro {
	margin-bottom: 10px;
	position: relative
}

.question-view .main-body .cpro.middle {
	margin-left: 0
}

.question-view .main-body .aside {
	width: 230px;
	position: relative;
	float: right;
	margin-right: 20px
}

.question-view .main-body .aside .rightAsideBannerFlow {
	width: 230px;
	height: 141px;
	margin-bottom: 10px;
	overflow: hidden
}

.question-view .main-body .aside .rightAsideBannerFlow img {
	width: 100%;
	height: 100%
}

.question-view .main-body .aside .app-home {
	display: block;
	color: #FFF;
	line-height: 26px;
	width: 120px;
	text-align: center;
	border: solid 2px #FFF;
	border-radius: 26px;
	text-decoration: none;
	background: #7CDCFD;
	position: absolute;
	left: 50%;
	margin-left: -60px;
	top: 235px;
	outline: 0
}

.question-view .main-body .aside .app-home:hover {
	background: #95e3fd
}

.question-view .main-body .main-con {
	margin: 10px 260px 0 0
}

.question-view .main-body .main-con .remain {
	text-align: center;
	height: 300px
}

.question-view .main-body .main-con .remain .notice {
	margin: 50px auto 30px;
	width: 100px;
	height: 88px;
	background: url(https://yy-s.zuoyebang.cc/static/question/question/resource/remain_e626d0a.png)
}

.question-view .main-body .main-con .remain .message {
	font-size: 22px
}

.question-view .main-body .main-con .best-related {
	margin-bottom: 10px
}

.question-view .main-body .main-con .best-related>.card {
	background: #FFE;
	border: 0;
	margin-bottom: 0
}

.question-view .main-body .main-con .best-related>.card.related-question:before {
	border: 0!important
}

.question-view .main-body .main-con .best-related .seprator {
	border-top: 1px solid #F3F3E3
}

.question-view .main-body .main-con .card {
	padding: 30px 30px 15px;
	background: #FFF;
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	word-break: break-all;
	position: relative
}

.question-view .main-body .main-con .card:not(.nobefore):before {
	content: '';
	border: 2px solid #45b7ff;
	position: absolute;
	left: 0;
	height: 14px;
	top: 20px
}

.question-view .main-body .main-con .card>dt {
	height: 38px;
	margin: -20px -30px 0;
	padding: 0 30px;
	font-size: 18px;
	font-weight: 700;
	line-height: 38px;
	color: #333
}

.question-view .main-body .main-con .card>dd {
	font-family: zuoyeFont_mathFont,'Microsoft Yahei','\5b8b\4f53',sans-serif;
	line-height: 2;
	padding: 0;
	position: relative
}

.question-view .main-body .main-con .card>dd img {
	max-width: 100%;
	max-height: 500px
}

.question-view .main-body .main-con .card>dd.answer {
	border-bottom: solid 1px #F0F0F0
}

.question-view .main-body .main-con .card>dd.answer .ext-info {
	margin: 15px 0 0
}

.question-view .main-body .main-con .card>dd:first-child {
	padding-top: 0
}

.question-view .main-body .main-con .card>dd:last-child {
	border: 0;
	padding-bottom: 0
}

.question-view .main-body .main-con .card>dd hr {
	height: 0;
	border: 0;
	border-top: dashed 1px #E7E7E7;
	margin: 24px 0
}

.question-view .main-body .main-con .card>dd .ext-info {
	font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
	color: #afafaf;
	font-size: 12px;
	vertical-align: middle
}

.question-view .main-body .main-con .card>dd .ext-info i {
	margin-right: 1em;
	vertical-align: middle
}

.question-view .main-body .main-con .card>dd .btn-adopt {
	display: block;
	position: absolute;
	right: 0;
	bottom: 5px;
	background: url(https://yy-s.zuoyebang.cc/static/question/question/resource/btn-adopt_8335d60.png);
	width: 138px;
	height: 40px
}

.question-view .main-body .main-con .card>dd .btn-adopt:hover {
	background: url(https://yy-s.zuoyebang.cc/static/question/question/resource/btn-adopt-hover_185bc59.png)
}

.question-view .main-body .main-con .card>dd .trace dl {
	line-height: 2
}

.question-view .main-body .main-con .card>dd .trace dl dt {
	float: left
}

.question-view .main-body .main-con .card>dd .trace dl dd {
	margin-left: 3em
}

.question-view .main-body .main-con .card>dd .trace dl dd.show-more {
	margin: 0;
	border-top: solid 1px #E6E6E6;
	padding-top: 10px
}

.question-view .main-body .main-con .card>dd .trace dl .trace-ask {
	color: #45B7FF
}

.question-view .main-body .main-con .card>dd .trace dl .trace-ask~dd {
	color: #999
}

.question-view .main-body .main-con .card>dd .trace dl .trace-answer {
	color: #EE5E0F
}

.question-view .main-body .main-con .card>dd .unfold {
	text-decoration: none;
	color: #45B7FF;
	outline: 0;
	font-size: 14px;
	margin-left: 20px
}

.question-view .main-body .main-con .card>dd .unfold em {
	margin-left: 6px
}

.question-view .main-body .main-con .card>dd.show-more,.question-view .main-body .main-con .card>dd dd.show-more {
	text-align: center;
	font-size: 14px;
	color: #45B7FF
}

.question-view .main-body .main-con .card>dd.show-more a,.question-view .main-body .main-con .card>dd dd.show-more a {
	text-decoration: none;
	color: #45B7FF;
	outline: 0
}

.question-view .main-body .main-con .card.question {
	font-size: 15px;
	color: #333
}

.question-view .main-body .main-con .card.question .qb-title {
	font-size: 20px;
	line-height: 32px;
	font-weight: 400
}

.question-view .main-body .main-con .card.question .cmn-icons_dialog-question {
	font-size: 20px;
	color: #45B7FF;
	vertical-align: middle;
	margin-right: 5px
}

.question-view .main-body .main-con .card.question>dd img {
	display: block;
	margin-top: 12px;
	max-width: 100%
}

.question-view .main-body .main-con .card.other-answer {
	padding-bottom: 10px
}

.question-view .main-body .main-con .card.other-answer>dd {
	padding: 10px 0
}

.question-view .main-body .main-con .card.other-answer>dd .imgs {
	display: block;
	margin: 12px 0;
	max-width: 100%
}

.question-view .main-body .main-con .card.other-answer>dd:nth-of-type(1) {
	padding-top: 0
}

.question-view .main-body .main-con .card.other-answer>dd:last-child {
	padding: 10px 0 0
}

.question-view .main-body .main-con .card.test-point-explain>dd {
	border: 0;
	padding: 0
}

.question-view .main-body .main-con .card.test-point-explain>dd dt {
	float: left;
	font-weight: 700
}

.question-view .main-body .main-con .card.test-point-explain>dd dd {
	margin-left: 5em
}

.question-view .main-body .main-con .card.ad {
	height: 110px;
	background: #FFD800
}

.question-view .main-body .main-con .EC_ads_listborder {
	border: 0;
	padding: 0
}

.question-view .main-body .main-con .EC_ads_listborder .EC_ads_listtitle {
	font-size: 16px;
	color: #45B7FF;
	font-weight: 400
}

.question-view .main-body .main-con .EC_ads_listborder .EC_ads_list>li {
	border-bottom: 1px solid #E3E3E3
}

.question-view .main-body .main-con .EC_ads_listborder .EC_ads_list>li:last-child {
	border: 0;
	padding-bottom: 0
}

.question-view .main-body footer {
	margin: 10px 260px 0 0
}

.QRWarp {
	background-color: #fff;
	width: 125px;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	margin: 0 auto
}

.QRWarp h3 {
	font-size: 12px;
	font-weight: 700;
	height: 24px;
	line-height: 24px;
	color: #2e2e2e
}

.QRWarp p {
	font-size: 12px;
	line-height: 20px;
	color: #333
}

.QRWarp .qrcode {
	width: 140px;
	height: 140px;
	background-image: url(https://yy-s.zuoyebang.cc/static/question/question/resource/university-qrcode_56b2f8d.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top
}

.questionWarp {
	background-color: #fff;
	overflow: hidden
}

.questionWarp>dl {
	float: left;
	width: 500px
}

.questionWarp #QRinside {
	float: left;
	width: 140px;
	padding: 20px 0
}

#QRfixed {
	display: none;
	margin-top: 20px
}

.bottomBannerFlow {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	max-height: 280px;
	z-index: 10;
	overflow: hidden
}

.bottomBannerFlow img {
	display: block;
	width: 100%
}

.bottomBannerPlaceholder {
	opacity: 0;
	max-height: 180px;
	overflow: hidden
}

.bottomBannerPlaceholder img {
	opacity: 0;
	display: block;
	width: 100%
}
